In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#import csv into a datframe
csv_file = "books.csv"
# books_df = pd.read_csv(csv_file)
books_df = pd.read_csv(csv_file, error_bad_lines=False,warn_bad_lines=False)
books_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9.780440e+12,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9.780440e+12,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9.780440e+12,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9.780440e+12,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9.780440e+12,eng,435,2149872,33964

In [3]:
#Create new dataframe with select columns
new_books_df = books_df[['bookID','title','authors','average_rating','isbn','language_code','ratings_count']]
new_books_df.head()

,bookID,title,authors,average_rating,isbn,language_code,ratings_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,eng,1944099
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,eng,1996446
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,eng,5629932
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,eng,6267
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,eng,2149872

In [12]:
# new_books_df1 = new_books_df[['bookID']]

tolst_books = list(new_books_df['bookID'])

new_lst_books = []

for i in enumerate(tolst_books):
     new_lst_books.append('B'+str(i[1]))
#     print('B'+str(i[1]))

# book_lst_df = pd.DataFrame(new_lst_books,columns=['bookid'])

# # new_books_df = new_books_df.append(book_lst_df,ignore_index=True,sort=True)
# # new_books_df.head()

# new_lst_books
# # new_books_df['bookID']
# # type(book_lst_df['bookid'])
# new_books_df['id'] = new_lst_books
new_books_df1 = pd.DataFrame(new_books_df)

# for i in enumerate(new_lst_books):
#     new_books_df1['bookid'] = ((i[1]))
new_books_df1['bookid'] = new_lst_books  
new_books_df1

,bookID,title,authors,average_rating,isbn,language_code,ratings_count,bookid
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,eng,1944099,B1
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,eng,1996446,B2
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,eng,5629932,B3
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,eng,6267,B4
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,eng,2149872,B5
5,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling-Mary GrandPré,4.78,439682584,eng,38872,B8
6,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.69,976540606,en-US,18,B9
7,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,eng,27410,B10
8,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,517226952,eng,3602,B12
9,13,The Ultimate Hitchhiker's Guide to the Galaxy,Douglas Adams,4.38,345453743,eng,240189,B13
10,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,eng,4416,B14
11,16,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams-Stephen Fry,4.22,739322206,eng,1222,B16
12,18,The Ultimate Hitchhiker's Guide (Hitchhiker's ...,Douglas Adams,4.38,517149257,en-US,2801,B18
13,21,A Short History of Nearly Everything,Bill Bryson-William Roberts,4.20,076790818X,eng,228522,B21
14,22,Bill Bryson's African Diary,Bill Bryson,3.43,767915062,eng,6993,B22
15,23,Bryson's Dictionary of Troublesome Words: A Wr...,Bill Bryson,3.88,767910435,eng,2020,B23
16,24,In a Sunburned Country,Bill Bryson,4.07,767903862,eng,68213,B24
17,25,I'm a Stranger Here Myself: Notes on Returning...,Bill Bryson,3.90,076790382X,eng,47490,B25
18,26,The Lost Continent: Travels in Small Town America,Bill Bryson,3.83,60920084,en-US,43779,B26
19,27,Neither Here nor There: Travels in Europe,Bill Bryson,3.87,380713802,eng,46397,B27
20,28,Notes from a Small Island,Bill Bryson,3.92,380727501,eng,76476,B28
21,29,The Mother Tongue: English and How It Got That...,Bill Bryson,3.94,380715430,eng,26672,B29
22,30,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.59,345538374,eng,97731,B30
23,31,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.49,618517650,eng,1670,B31
24,32,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.49,618346244,eng,2819,B32
25,34,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.35,618346252,eng,2009749,B34
26,35,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien-Alan Lee,4.49,618260587,en-US,1606,B35
27,36,The Lord of the Rings: Weapons and Warfare,Chris Smith-Christopher Lee-Richard Taylor,4.53,618391002,eng,18934,B36
28,37,The Lord of the Rings: Complete Visual Companion,Jude Fisher,4.50,618510826,eng,343,B37
29,38,The Lord of the Rings Box Set,J.R.R. Tolkien,4.49,618153977,eng,216,B38
...,...,...,...,...,...,...,...,...
13684,47626,Shade's Children,Garth Nix,3.90,64471969,eng,10368,B47626
13685,47627,Into Battle (The Seventh Tower #5),Garth Nix-Steve Rawlings,3.93,439176867,en-GB,4887,B47627
13686,47629,Lirael (Abhorsen #2),Garth Nix,4.30,7137338,en-GB,1339,B47629
13687,47630,Serena and the Sea Serpent (Aussie Bites),Garth Nix-Stephen Michael King,3.59,141309407,eng,33,B47630
13688,47631,The Abhorsen Trilogy (The Abhorsen Trilogy #1-3),Garth Nix,4.66,739432176,eng,89,B47631
13689,47632,Born in Blood and Fire: A Concise History of L...,John Charles Chasteen,3.89,393927695,eng,1089,B47632
13690,47633,The Teahouse Fire,Ellis Avery,3.49,1594489300,en-US,2791,B47633
13691,47642,Castle (The Seventh Tower #2),Garth Nix-Steve Rawlings,3.87,439176832,eng,5656,B47642
13692,47643,The Seventh Tower (The Seventh Tower #1-3),Garth Nix,4.12,439485878,en-US,61,B47643
13693,47644,Lirael: Daughter of the Clayr (The Abhorsen Tr...,Garth Nix-Tim Curry,4.30,807205583,eng,23,B47644
13694,47645,Lirael (Abhorsen #2),Garth Nix,4.30,60005424,en-CA,3325,B47645
13695,47648,Abhorsen: La novena puerta (The Abhorsen Trilo...,Garth Nix,4.27,8478715088,spa,13,B47648
13696,47649,Point Clear,Jennifer Paddock,3.14,743287827,eng,179,B47649
13697,47658,Lake Forest: Estates People and Culture (Imag...,Arthur H. Miller-Shirley M. Paddock,3.33,738507938,eng,2,B47658
13698,47660,Rebeca,Daphne du Maurier,4.22,840146272X,spa,67,B47660
13699,47666,Abhorsen (Abhorsen #3),Garth Nix,4.27,7137354,en-GB,1830,B47666
13700,47667,Seeing,José Saramago-Margaret Jull Costa,3.79,156032732,eng,8480,B47667
13701,47668,Ensayo sobre la ceguera,José Saramago,4.11,9707311150,spa,10296,B47668
13702,47674,Papa Please Get the Moon for Me,Eric Carle,4.15,887081770,eng,4359,B47674
13703,47683,The Cinderella Pact,Sarah Strohmeyer-Katarína Repatá,3.71,525949577,eng,10322,B47683
13704,47687,Peace Pact: The Lost World of the American Fou...,David C. Hendrickson,3.30,700614931,eng,21,B47687
13705,47692,American Gods,Neil Gaiman,4.11,1594970998,spa,58,B47692
13706,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman-Dave McKean,4.03,60587016,en-US,8744,B47693
13707,47695,Harlequin Valentine,Neil Gaiman-John Bolton,3.79,1840234113,eng,2441,B47695
13708,47697,The Sandman: King of Dreams,Alisa Kwitney-Neil Gaiman,4.62,811835928,eng,12775,B47697
13709,47699,M Is for Magic,Neil Gaiman-Teddy Kristiansen,3.82,61186422,eng,11317,B47699
13710,47700,Black Orchid,Neil Gaiman-Dave McKean,3.72,930289552,eng,8710,B47700
13711,47701,InterWorld (InterWorld #1),Neil Gaiman-Michael Reaves,3.53,61238961,en-US,14334,B47701
13712,47708,The Faeries' Oracle,Brian Froud-Jessica Macbeth,4.43,743201116,eng,1550,B47708
13713,47709,The World of The Dark Crystal,Brian Froud,4.29,1862056242,eng,3572,B47709

In [22]:
clean_book_df = new_books_df1.drop('bookID', axis=1)
clean_book_df.head()

# clean_book_df.set_index('bookid',inplace=True)
# clean_book_df

,title,authors,average_rating,isbn,language_code,ratings_count,bookid
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,eng,1944099,B1
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,eng,1996446,B2
2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,eng,5629932,B3
3,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,eng,6267,B4
4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,eng,2149872,B5

In [23]:
#Connect to local database
rds_connection_string = "postgres:vasu12@localhost:5432/ETL_Grp_8"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [24]:
engine.table_names()

['books', 'titles']

In [25]:
#change column names to match db tables columns
clean_book_db = clean_book_df.rename(columns={'average_rating':'rating',
                                           'language_code':'lang_code'})

# db_books_df['rating'].value_counts()
# print(type(db_books_df['rating']))
# for i in db_books_df['rating']:
#     print((i))
clean_book_db.head()

,title,authors,rating,isbn,lang_code,ratings_count,bookid
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,eng,1944099,B1
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,eng,1996446,B2
2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,eng,5629932,B3
3,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,eng,6267,B4
4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,eng,2149872,B5

In [26]:
#Modify data to suite the database
titles_df = new_books_df1[['bookid','title']]
titles_df.head()

  bookid                                              title
0     B1  Harry Potter and the Half-Blood Prince (Harry ...
1     B2  Harry Potter and the Order of the Phoenix (Har...
2     B3  Harry Potter and the Sorcerer's Stone (Harry P...
3     B4  Harry Potter and the Chamber of Secrets (Harry...
4     B5  Harry Potter and the Prisoner of Azkaban (Harr...

In [27]:
clean_book_db.to_sql(name='books', con=engine, if_exists='append', index=False)

In [30]:
clean_titles_df = titles_df.rename(columns={'bookid':'id'})

In [31]:
clean_titles_df.head()

   id                                              title
0  B1  Harry Potter and the Half-Blood Prince (Harry ...
1  B2  Harry Potter and the Order of the Phoenix (Har...
2  B3  Harry Potter and the Sorcerer's Stone (Harry P...
3  B4  Harry Potter and the Chamber of Secrets (Harry...
4  B5  Harry Potter and the Prisoner of Azkaban (Harr...

In [33]:
clean_titles_df.to_sql(name='titles', con=engine, if_exists='append', index=False)

In [34]:
pd.read_sql_query('select * from books', con=engine).head()

,bookid,title,authors,rating,isbn,lang_code,ratings_count
0,B1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,eng,1944099
1,B2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,eng,1996446
2,B3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,eng,5629932
3,B4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,eng,6267
4,B5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,eng,2149872

In [35]:
pd.read_sql_query('select * from titles', con=engine).head()

   id                                              title
0  B1  Harry Potter and the Half-Blood Prince (Harry ...
1  B2  Harry Potter and the Order of the Phoenix (Har...
2  B3  Harry Potter and the Sorcerer's Stone (Harry P...
3  B4  Harry Potter and the Chamber of Secrets (Harry...
4  B5  Harry Potter and the Prisoner of Azkaban (Harr...

In [54]:
sql = 'select b.bookid,b.title,b.rating from books b, titles t \
        where b.bookid = t.id and t.title like ''%Harry%'';'

# sql
pd.read_sql_query("select b.bookid,b.title,b.rating from books b, titles t where b.bookid = t.id and t.title like '%Harry%';",con=engine)

TypeError: 'dict' object does not support indexing